@charset "UTF-8";


html{
    margin: 5px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
    line-height: 1.2em;

}


nav{
    display: none;
}
article::after{
    content: 'esse artigo foi escrito por Crystian Rodrigues';
    font-size: .9em;
    font-weight: bold;
    
}