@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@font-face {
    font-family: 'font' ;
    src: url(fonts/font.otf), url(fonts/font.ttf);

}


h1 {
    font-family: 'font';
    font-size: 3em;
    font-weight: 200;
}

p{
    font-family: 'VT323', monospace;
}