@charset "UTF-8";
body{
    font: normal 1em arial, verdana, serif;
}
h1{
    text-align: center;
    
}
h2{
    text-align: right;
}
p{
    text-align: justify;
    text-indent: 2em;
    font: 500 1em arial, verdana, serif;
}
