@charset "UTF-8";


@media screen and (min-width: 768px) {
    #menu-burger{
        display: none;
    }
    menu{
        display: none;
    }
    
    ul{
        display: flex;
        justify-content: space-evenly;
    }
    li{
        border: none;
    }
    main{
        max-width: 700px;
    }
    
}